<h2>Show Game</h2>

<ul>

  <li>
    <strong>Start time:</strong>
    <%= @game.start_time %>
  </li>

  <li>
    <strong>Invite code:</strong>
    <%= @game.invite_code %>
  </li>

  <li>
    <strong>Active?:</strong>
    <%= @game.active? %>
  </li>

</ul>

<span><%= link "Edit", to: game_path(@conn, :edit, @game) %></span>
<span><%= link "Back", to: game_path(@conn, :index) %></span>
